# ROS
catkin_ws/build/
catkin_ws/devel/
catkin_ws/logs/

# PX4 build output
simulation/PX4-Autopilot-v1.14.3/build/

# Gazebo logs
*.log

# VS Code
.vscode/

# JetBrains
.idea/

# Python
__pycache__/
*.pyc

# Linux
.DS_Store
Thumbs.db
