# Ignore ROS compilation and environment files
catkin_ws/build/
catkin_ws/devel/
catkin_ws/logs/
catkin_ws/.catkin_tools/
catkin_ws/.catkin_workspace

# Ignore the massive PX4 firmware repository
simulation/PX4-Autopilot*/

# Ignore hidden system files
.DS_Store
*.swp
*.swo
