<?xml version="1.0"?>
<model>
  <name>iris_vlp16</name>
  <version>1.0</version>
  <sdf version="1.5">iris_vlp16.sdf</sdf>
  <author>
    <name>NIDAR Team</name>
    <email>nidar@example.com</email>
  </author>
  <description>
    3DR Iris Quadrotor equipped with Velodyne VLP-16 LiDAR.
  </description>
</model>
