<?xml version="1.0"?>
<model>
  <name>3DR Iris with Velodyne VLP-16</name>
  <version>1.0</version>
  <sdf version="1.5">iris_vlp16.sdf</sdf>
  <author>
    <name>NIDAR Architect</name>
    <email>architect@nidar.com</email>
  </author>
  <description>
    3DR Iris Quadrotor equipped with a Velodyne VLP-16 LiDAR.
  </description>
</model>
