<launch>
    <!-- Launch file for FAST-LIO customized for NIDAR simulation -->
    
    <arg name="rviz" default="true" />

    <rosparam command="load" file="/home/developer/NIDAR/config/fast_lio/nidar_sim.yaml" />

    <!-- Load URDF -->
    <param name="robot_description" textfile="/home/developer/NIDAR/config/iris_vlp16.urdf" />

    <!-- Robot State Publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="nidar_robot_state_publisher" output="screen" />

    <!-- FAST-LIO node -->
    <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen" />

    <!-- RViz -->
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d /home/developer/NIDAR/config/nidar_lidar.rviz" />
    </group>

</launch>
