<launch>
  <!-- Size of workspace -->
  <arg name="map_size_x" value="50.0"/>
  <arg name="map_size_y" value="50.0"/>
  <arg name="map_size_z" value="10.0"/>

  <arg name="init_x" value="0.0"/>
  <arg name="init_y" value="0.0"/>
  <arg name="init_z" value="1.5"/>

  <!-- Topics from FAST-LIO2 and MAVROS -->
  <arg name="odom_topic" value="/Fast_LIO/odometry"/>
  <arg name="cloud_topic" value="/cloud_registered"/>
  <arg name="sensor_pose_topic" value="/mavros/vision_pose/pose"/>

  <!-- Upstream FUEL Exploration Algorithm -->
  <include file="$(find exploration_manager)/launch/algorithm.xml">
    <arg name="map_size_x_" value="$(arg map_size_x)"/>
    <arg name="map_size_y_" value="$(arg map_size_y)"/>
    <arg name="map_size_z_" value="$(arg map_size_z)"/>

    <arg name="box_min_x" value="-0.5"/>
    <arg name="box_min_y" value="-7.0"/>
    <arg name="box_min_z" value="0.2"/>
    <arg name="box_max_x" value="13.5"/>
    <arg name="box_max_y" value="7.0"/>
    <arg name="box_max_z" value="1.9"/>

    <arg name="odometry_topic" value="$(arg odom_topic)"/>
    <arg name="sensor_pose_topic" value="$(arg sensor_pose_topic)"/>
    <arg name="depth_topic" value="/unused_depth"/>
    <arg name="cloud_topic" value="$(arg cloud_topic)"/>

    <arg name="cx" value="321.04638671875"/>
    <arg name="cy" value="243.44969177246094"/>
    <arg name="fx" value="387.229248046875"/>
    <arg name="fy" value="387.229248046875"/>

    <arg name="max_vel" value="0.6"/>
    <arg name="max_acc" value="0.3"/>
  </include>

  <!-- Synchronize FIESTA map TF frame with FAST-LIO2 world frame -->
  <param name="exploration_node/map_ros/frame_id" value="camera_init"/>

  <!-- Static transform publishers: world -> map and map -> camera_init -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_map_tf"
    args="0.0 -6.5 0.1 1.5707963 0 0 world map"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_camera_init_tf"
    args="0 0 0 0 0 0 map camera_init"/>

  <!-- Upstream FUEL Trajectory Server -->
  <node pkg="plan_manage" name="traj_server" type="traj_server" output="screen">
    <remap from="/position_cmd" to="/planning/pos_cmd"/>
    <remap from="/odom_world" to="$(arg odom_topic)"/>
    <param name="traj_server/time_forward" value="1.5" type="double"/>
    <param name="traj_server/pub_traj_id" value="4" type="int"/>
    <param name="traj_server/init_x" value="$(arg init_x)" type="double"/>
    <param name="traj_server/init_y" value="$(arg init_y)" type="double"/>
    <param name="traj_server/init_z" value="$(arg init_z)" type="double"/>
  </node>

  <!-- Upstream Waypoint Generator -->
  <node pkg="waypoint_generator" name="waypoint_generator" type="waypoint_generator" output="screen">
    <remap from="~odom" to="$(arg odom_topic)"/>
    <remap from="~goal" to="/move_base_simple/goal"/>
    <remap from="~traj_start_trigger" to="/traj_start_trigger"/>
    <param name="waypoint_type" value="point"/>
  </node>

  <!-- Flight Envelope Guard Parameters -->
  <rosparam command="load" file="/home/developer/NIDAR/config/flight_envelope_guard.yaml" />
</launch>
